body {
    box-sizing: border-box;
}
.heart {
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}
@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}